<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/mainTemplate :: head}">
</head>
<body>
<header th:replace="~{template/mainTemplate :: header(titleVar='LOGIN', userName='----')}"></header>

<div>
    <div id="mainBlock">
        <div id="centerScreen">
            <div class="ctrCont">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- NEW USER NAME -->
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" for="userName">Name</label>
                            <div class="col-sm-10">
                                <input id="userName" type="text">
                            </div>
                        </div>
                        <!-- PASSWORD 1 -->
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input id="pass" type="password">
                            </div>
                        </div>
                        <!-- SIGN IN -->
                        <button type="submit" class="btn btn-primary" onclick="SignInFunc()">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer th:replace="~{template/mainTemplate :: footer}"></footer>
</body>
</html>